[AWS]
aws_access_key_id=YOUR_KEY
aws_secret_access_key=YOUR_SECRET
region_name=us-east-2
queue_url=queue_url

[CADRE_META_DATABASE_INFO]
database-host=localhost
database-port=5432
database-name=cadre
database-username=cadre
database-password=cadre

[GENERAL]
python-venv-bin=/home/ubuntu/cloud-admin/venv/bin/python
cluster-lock-file-name=cluster_lock
